@use "@material/theme" with (
  $primary: #0D47A1,
  $on-primary: #fff
);
@use "@material/button/styles";
@use "@material/floating-label/mdc-floating-label";
@use "@material/line-ripple/mdc-line-ripple";
@use "@material/notched-outline/mdc-notched-outline";
@use "@material/textfield";
@include textfield.core-styles;
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  font-family: 'Roboto';
}