#content {
    display: flex;
}

#sidebarContainer {
    width: 256px;
    height: 100%;
}

#sidebar {
  width: 256px;
  overflow-y: scroll;
  position: fixed;
  height: 100%;
  top: 0px;
  left: 0px;
}

#fakeSidebar {
    width: 256px;
    position: relative;
}

#interaction_area {
    width: 100%;
    height: 100%;
}

#sidebar #head {
    height: 64px;
    justify-content: center;
    align-items: center;
    display: flex;
}